@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap");

.MuiAppBar-root {
  background-color: #250696 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
button {
  font-family: Titillium Web !important;
}

.MuiBox-root a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}
